# Analysis of US Stock X market using the example of “Nike x Off-White” and “Adidas x Yeezy” collaborations competition

## Introduction:

StockX is an online marketplace and clothing reseller, primarily of sneakers. The Detroit-based company was founded by Dan Gilbert, Josh Luber, Greg Schwartz, and Chris Kaufman in 2015–2016. StockX has more than 800 employees in Downtown Detroit. StockX currently has international offices in London, UK, in Eindhoven, the Netherlands, and has authentication facilities in Detroit's Corktown neighborhood, Moonachie, NJ, and Tempe, AZ. Scott Cutler and Schwartz serve as chief executive officer and chief operating officer, respectively, and Deena Bahri became the company's first chief marketing officer in 2019.

Nike and Off-White: "The Ten" was the sneaker collaboration between Nike and Off-White, designed by Virgil Abloh in 2017. It initially involved the deconstruction of ten iconic Nike silhouettes by Abloh. The ten shoes were individually broken down by Abloh, and then rebuilt with a different design and rearranged components. The collaboration sold out and the shoes became highly sought after.Further additions to this collaboration were then added throughout 2018 and 2019 which included endorsements from athletes and celebrities but are not included in the original “ten”.

Adidas Yeezy is a fashion collaboration between the German sportswear brand Adidas and American designer/rapper Kanye West. The collaboration has become notable for it's high-end limited edition colorways and general releases offered by the Yeezy Boost sneaker line up. The collaboration has also produced shirts, jackets, track pants, socks, women's shoes and their newly released slides.

Sources:

https://en.wikipedia.org/wiki/StockX
https://en.wikipedia.org/wiki/Nike_and_Off-White:_%27The_Ten%27
https://en.wikipedia.org/wiki/Adidas_Yeezy

## Data description and objectives:

We will analyse data from Stock X database (over 10000 Observations from 2015 to 2019).

Our data set has the following entities:

<ul>
Order Date - Date when order has been placed<br>
Brand - Brand Name<br>
Sneaker Name - Sneaker model name<br>
Sale Price -  Sell price by Stock X seller<br>
Retail Price - Retail price by brand<br>
Release Date - Date when particular sneaker has been placed<br>
Shoe Size - Sneaker size<br>
Buyer Region - Region of Stock X buyer<br>
</ul>

Our objectives:

<ul>
Analyze relation between buyer region and brand<br>
Analyze relation between shoe size and price<br>
Analyze Stock X users interest rate in (both Nike and Adidas)<br>
Analyze the most popular sneaker models and changes in their resales prices over years<br>
Analyze which brand produces more sneaker models and how its affects their prices (both retail and resales)<br> 
</ul>

## Data Preparation

In [10]:
import pandas as pd

In [46]:
#Data Stock X
dataframe = pd.read_csv("StockX-Data.csv")
dataframe.head(10)

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/17,11.0,Rhode Island
5,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$798,$220,2/11/17,8.5,Michigan
6,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-White,$784,$220,12/17/16,11.0,California
7,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,$460,$220,4/29/17,10.0,New York
8,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,$465,$220,4/29/17,11.0,Kansas
9,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Cream-White,$465,$220,4/29/17,11.0,Florida

In [45]:
#total lots in Stock X by Brand
dataframe = pd.read_csv("StockX-Data.csv")
dataframe.set_index(["Brand", "Sneaker Name"]).count(level="Brand")

,Order Date,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
Brand,,,,,,
Yeezy,72162,72162,72162,72162,72162,72162
Off-White,27794,27794,27794,27794,27794,27794

In [49]:
#dublicate_check 
dataframe = pd.read_csv("StockX-Data.csv")
dataframe.duplicated()

#all data is unique

0        False
1        False
2        False
3        False
4        False
         ...
99951    False
99952    False
99953    False
99954    False
99955    False
Length: 99956, dtype: bool

In [61]:
#mean_shoe_size group by Brand and Sale Price
dataframe = pd.read_csv("StockX-Data.csv")
dataframe.groupby(["Brand","Sale Price"]).mean()

                      Shoe Size
Brand     Sale Price
 Yeezy    $1,000       9.826531
          $1,001       9.250000
          $1,002      10.000000
          $1,005      10.875000
          $1,009      10.500000
...                         ...
Off-White $995         9.552632
          $996         8.750000
          $997         9.142857
          $998        10.000000
          $999         9.258065

[2382 rows x 1 columns]